<html>
<link rel="icon" 
      type="image/ico" 
      href="logo.ico">
	<body>
	<div id="menu-wrapper">
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="/">Home</a></li>
				<li><a href="/reviews">Reviews</a></li>
				<li><a href="/repairs">Services</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
	<%= render 'layouts/header' %>
	<div id="wrapper">
		<!-- end #header -->
		<div id="page">
			<div id="page-bgtop">
				<div id="page-bgbtm">
					<div id="content">
						<div class="post">
							<h2 class="title">Welcome to Blevins Mobile</h2>
								<p>In this economy, every penny saved helps. When your car breaks down, it could cost you way more then you are willing to spend. When you add up the tow it takes to get to the mechanic, the parts you need, and the labor fees, it turns out to be more then anyone wants to pay. Luckily, here in Brevard County, Fl you are able to just call us. Instead of paying all the high fees, you can call us and we will come to you, and charge you less then anyone else around. You should not have to tow your car if your car is unable to drive, you should just call us and we will come to you!</p>
							<div style="clear: both;">&nbsp;</div>
							<div class="entry">
								<h1><a href="/repairs">Car Repair Services</a></h1>
								<p>Under the Services tab are some of the services I offer. However, you may need something you do not see, and I am able to do this for you. There are just some services listed, these are not all that we offer.</p>
								<h1>100% RATING</h1>
									<p>I have a 100% on <a href="http://www.angieslist.com/companylist/us/fl/palm-bay/blevins-mobile-automotive-service-llc-reviews-6357957.htm">Angieslist.com</a>, take a look for yourself.</p>
								<h1>Tune Up!</h1>
									<p>Why not make your tune ups even easier. Get your tune up done while you are in the comfort of your own home sitting back and watching some TV. I make it simple for you by coming straight to your house and doing all the work for you.</p>
								<h1>Used Car Inspection</h1>
									<p>You should <b>NEVER</b> buy a used car, without getting an inspection from a mechanic. I am one of the only ones that will meet you at the location the car is at so you can have it inspected without even driving it off the lot.</p>
								<h1>Maintenance:</h1>
									<p>The best way to keep your vehicle running well in addition to keeping the environment clean, is to have regular maintenance done on your car. This includes having the oil changed once every 3 months, in addition to replacing the filters, checking and replacing other fluids, belts and hoses, checking driving lights and tire pressures and tune-ups. This is what blevins mbile automotive service can do for you - right at your door! There will be no mess left when the job is complete!</p>
							</div>
						</div>
<!--
						<div class="post">
							<h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>

							<p class="meta"><span class="date">March 13, 2012</span><span class="posted">Posted by <a href="#">Someone</a></span></p>

							<div style="clear: both;">&nbsp;</div>
							<div class="entry">

								<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.  Mauris quam enim, molestie in, rhoncus ut, lobortis a, est.</p>

								<p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></p>

							</div>

						</div>

-->

					</div>
					<!-- end #content -->
					<div id="sidebar">
						<ul>
							<li>
								<h2>Contact Us</h2>
								<ul>
									<li><b>Todd Blevins</b><br>Owner/Operator</li>
									<li>555 Hobart Ave<br>
											Palm Bay, FL 32907</li>
									<li><a href="mailto:tblevins004@cfl.rr.com" target="_blank">tblevins004@cfl.rr.com</a></li>
									<li>(321) 914-8235</li>
								</ul>
							</li>
						</ul>
					</div>
					<!-- end #sidebar -->
					<div style="clear: both;">&nbsp;</div>
				</div>
			</div>
		</div>
		<!-- end #page -->
	</div>
	<%= render 'layouts/footer' %>
	<!-- end #footer -->
	</body>
</html>
