<html>
<link rel="icon" 
      type="image/ico" 
      href="logo.ico">
	<body>
	<div id="menu-wrapper">
		<div id="menu">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/reviews">Reviews</a></li>
				<li class="current_page_item"><a href="/repairs">Services</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
	<%= render 'layouts/header' %>
	<div id="wrapper">
		<!-- end #header -->
		<div id="page">
			<div id="page-bgtop">
				<div id="page-bgbtm">
					<div id="content">
						<div class="post">
							<div style="clear: both;">&nbsp;</div>
							<div class="entry">
								<h1>Check Engine Light On</h1>
									<p>I'll come to you with the tools needed to check this problem, find out what the problem is and get it fixed for you on the spot.</p>
								<h1>Water Pump Repair</h1>
									<p>The all important water pump is the mechanism that pumps coolant through your engine.  Water pumps failure is common and you can expect to have to replace your water pump around the 100,000 mile mark, if not sooner.  Some water pumps are driven by a timing belt which makes it difficult to diagnose a bad bearing.  When your water pumps starts to go out, it's usually caused by the bearing for the pulley goes out or the gasket starts to leak.</p>
								<h1>Thermostat</h1>
									<p>It is surprising that such a small part can have such a big impact, but your thermostat plays a big role in your engine's performance.  The sudden failure of an inexpensive part can leave you and your vehicle stranded by the side of the road. This is especially true of the cooling system thermostat.  The primary function of the thermostat is to allow the engine to warm up quickly containing the amount of coolant that is transferred into the radiator.</p>
								<h1>Bad Brakes</h1>
									<p>Brakes are very important to maintain, if your brakes go bad, then it could be harmful to you, your family or innocent bystanders. If your brakes are squeaking, or becoming a problem, give me a call and we will settle this brake problem for you.</p>
								<h1>Battery Problems</h1>
									<p>I am fully equiped to come out and check your battery and recharge it if that's the problem. Give me a call if your car is not starting for any reason, including a dead battery, or any other battery problems.</p>
								<h1>Starter Problems</h1>
									<p>Starter going out or already bad. I can come to your home and repair this for you. There are a number of problems it could be if your car is not turning on, and this is one of the. I am capable of handling any of the issues that you may be having if your car is not starting.</p>
								<h1>Alternators</h1>
									<p>Another reason you could end up with a dead battery, I am able to diagnose all of these problems and many more and repair them.</p>
								<h1>All Other Problems</h1>
								<p>These are only some of the many problems I can handle. If you do not see the problem you are having, I am betting I just do not have it listed, but I can repair it. Give me a call, and we can talk about the problem you are having and what I can do to fix this. It is as easy as one phone call.</p>
							</div>
						</div>
					</div>
					<!-- end #content -->
					<div id="sidebar">
						<ul>
							<li>
								<h2>Contact Us</h2>
								<ul>
									<li><b>Todd Blevins</b><br>Owner/Operator</li>
									<li>555 Hobart Ave<br>
											Palm Bay, FL 32907</li>
									<li><a href="mailto:tblevins004@cfl.rr.com" target="_blank">tblevins004@cfl.rr.com</a></li>
									<li>(321) 914-8235</li>
								</ul>
							</li>
						</ul>
					</div>
					<!-- end #sidebar -->
					<div style="clear: both;">&nbsp;</div>
				</div>
			</div>
		</div>
		<!-- end #page -->
	</div>
	<%= render 'layouts/footer' %>
	<!-- end #footer -->
	</body>
</html>
