body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #3B3B3B;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	text-transform: uppercase;
	font-weight: normal;
	color: #3B3B3B;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #E74E37;
}

a:hover {
}

/* Header */

#header-wrapper {
	background: #ACD7E0;
	border-bottom: 5px solid #87B4BE;
}

#header {
	clear: both;
	width: 1000px;
	margin: 0px auto;
}

/* Logo */

#logo {
	margin: 0px;
	padding: 30px 0px;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	font-size: 3.8em;
	color: #589DAC;
}

#logo p {
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	color: #3B3B3B;
}

#logo p a {
	color: #3B3B3B;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #589DAC;
}

/* Search */

#search {
	width: 320px;
	height: 60px;
	padding: 0px;
}

#search form {
	margin: 0px;
	padding: 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 250px;
	outline: none;
	background: #F5F0E7;
	border: 1px solid #D7D0C0;
	padding: 10px;
	text-transform: lowercase;
	font: normal 14px Arial, Helvetica, sans-serif;
	color: #454545;
}

#search-submit {
	width: 62px;
	height: 22px;
	display: none;
	border: none;
	color: #FFFFFF;
}

/* Menu */

#menu-wrapper {
	overflow: hidden;
	height: 55px;
	background: url(img01.gif) repeat-x left top;
}

#menu {
	width: 1000px;
	height: 55px;
	margin: 0px auto;
	padding: 0px;
}

#menu ul {
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	border-right: 1px solid #FFBAAD;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	line-height: 55px;
	padding: 0px 30px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Coda', cursive;
	font-size: 12px;
	font-weight: normal;
	color: #3B3B3B;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	background: url(img02.gif) repeat-x left top;
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
}

/* Page */

#page {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;
}

/* Content */

#content {
	float: left;
	width: 600px;
	margin: auto;
	padding-right: 10px;
	padding-top: 20px;
}

.post {
	margin-bottom: 15px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	height: 38px;
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
}

.post .title a {
	border: none;
	color: #E74E37;
}

.post .meta {
	margin-bottom: 30px;
	padding: 5px 0px 15px 0px;
	text-align: left;
	font-weight: normal;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	height: 30px;
	padding: 30px 0px 0px 0px;
	font-size: 14px;
	font-weight: normal;
	color: #1C1C1C;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 250px;
	margin: 0px 0px 0px 15px;
	padding: 30px 0px 0px 10px;
	color: #787878;
	margin: auto;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 50px;
}

#sidebar li li {
	border-bottom: 1px dashed #D4D18B;
	margin: 0px 0px;
	padding: 5px 0px;
	border-left: none;
}

#sidebar li li a {
	color: #3B3B3B;
}

#sidebar li li span {
	display: block;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	padding-bottom: 20px;
	font-size: 1.8em;
	color: #E74E37;
}

#sidebar p {
	margin: 0px 0px 40px 0px;
	padding: 0px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

#left_side {
	width: 180px;
	float: left;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: #2F3739;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #A0A0A0;
}

#footer a {
	color: #8A8A8A;
}

/*Feed Form*/
#new_feed_form {
	width: 521px;
	margin-bottom: 25px;
}

#new_feed_form textarea {
	width: 521px;
	height: 44px;
}

#new_feed_form h3 {
	font-weight: normal;
	font-size: 150%;
	margin: 0px;
	padding: 0px 0px 5px 0px;
}

#new_feed_form #latest_message {
	color: #666;
	font-size: 90%;
	padding-top: 3px;
	float: left;
	width: 412px;
}

#new_feed_form #submit_button_container {
	float: right;
	width: 38px;	
	text-align: right;
}

/*Feed List*/
#feed_list {
	margin: 0px;
	padding: 0px;
	width: 521px;
}

#feed_list li {
	list-style: none;
	padding: 10px 0px;
	margin: 0px;
	background-color: #FFFFFF;
	color: #000000;
	border-bottom: 1px dashed #D2DADA;
}

#feed_list li.first {
	border-top: 1px dashed #D2DADA;
}

#feed_list li:hover {
	background-color: #F7F7F7;
}

#feed_list li img {
	float: left;
}

#feed_list li div.feed_message_container {
	float: left;
	width: 443px;
}

#feed_list li div.feed_message_container a {
	color: #2276BB;
	text-decoration: none;
	font-weight: bold;
}

#feed_list li div.feed_message_container div.time_ago {
	color: #9C9C9C;
	font-size: 90%;
	padding-top: 3px;
}

#feed_list li div.feed_message_container div.time_ago div.button {
	float: right;
}
