	<div id="footer">
		<p>Copyright (c) 2012 Blevins Mobile Automotive Service. All rights reserved.</p>
		<div align='right'>
			<!-- Counter Code START --><img src="http://www.e-zeeinternet.com/count.php?page=784682&style=bluesky&nbdigits=4" alt="Free Counters" border="0" ><!-- Counter Code END -->
		</div>
	</div>
