<link rel="icon" 
      type="image/ico" 
      href="logo.ico">
	<body>
	<div id="menu-wrapper">
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="/">Home</a></li>
				<li><a href="/repairs">Services</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
		<!-- end #menu -->
	</div>
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="/">Blevins Mobile </a></h1>
				<p>Family Owned and Operated</p>
			</div>
		</div>
	</div>
